@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


@import "_reset.scss";

body {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  color: #F7F7F7
}

a {
  color: #F7F7F7
}




.header {
  position: fixed;
  width: 100%;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.contant {
  max-width: 1200px;
  margin: 0 auto;
}

.header_contant {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

.header_logo {
  display: flex;
  align-items: center;
}

.header_logo h2 {
  font-family: 'Roboto';
  font-size: 32px;
  line-height: 60px;
  text-transform: uppercase;
  margin-left: 15px;
}

.header_list {
  display: flex;
  flex-wrap: wrap;
}


.header_item {
  margin-right: 60px;
}

.header_item:last-child {
  display: flex;
  width: 120px;
  height: 50px;
  font-family: 'Roboto';
  font-size: 23px;
  line-height: 27px;
  align-items: center;
  margin-right: 0;
  padding-left: 23px;
  padding-right: 23px;
  box-sizing: border-box;
  border: 2px solid #CD6326;
  border-radius: 5px;
}

.header_link {
  font-size: 23px;
  line-height: 60px;
  text-decoration: none;
}

.header_link:hover,
.header_link:focus,
.header_link:active {
  text-decoration: underline;
}





.survival {
  background: #02160b;
}

.survival_wrapper {
  background-image: url('/img/bg\ survival.jpg');
}

.survival_title {
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 2px;
  padding-top: 200px;
  margin-bottom: 51px;
  color: #CD6326;
}

.survival_subtitle {
  display: block;
  width: 274px;
  height: 108px;
  margin-bottom: 49px;
  font-size: 18px;
  line-height: 27px;
}

.survival_input {
  width: 160px;
  height: 60px;
  margin-bottom: 240px;
  font-family: 'Roboto';
  font-size: 23px;
  line-height: 27px;
  text-align: center;
  background: #CD6326;
  border-radius: 5px;
  color: #F7F7F7;
  cursor: pointer;
}

.survival_input:hover{
  background: #E39128;;
}
.survival_input:active{
  background:  #8F5613;;
}






.latest {
  background-color: #cccccc;
}


.latest_contant {
  background: #CCCCCC;
  padding-bottom: 239px;
}


.latest_title {
  padding-top: 120px;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  color: #333333;
  margin-bottom: 20px;
}


.latest_subtitle {
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #666666;
  margin-bottom: 120px;
}


.animals_card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 300px;
  height: 360px;
}

.arrow-left {
  display: flex;
}

.arrow_right {
  display: flex;
}
.arrow:hover {
  cursor: pointer;
}

.card_deer {
  background-image: url('/img/animals/deer.jpg');
}

.card_squirrel {
  background-image: url('/img/animals/squirrel.jpg');
}

.card_bird {
  background-image: url('/img/animals/bird.jpg');
}

.card_title {
  display: flex;
  font-size: 22px;
  line-height: 36px;
  justify-content: center;
  margin-top: 247px;
  margin-bottom: 10px;
}

.card_subtitle {
  display: flex;
  font-size: 17px;
  line-height: 27px;
  justify-content: center;
}






.notified {
  background: #CCCCCC;
}

.notified_contant {
  background: #CCCCCC;
  padding-bottom: 239px;
}

.notified_title {
  font-size: 27px;
  line-height: 40px;
  text-align: center;
  color: #333333;
  margin-bottom: 59px;
}

.notified_form {
  display: flex;
  justify-content: center;
}

.notified_input {
  width: 540px;
  height: 60px;
  font-family: 'Roboto';
  font-size: 23px;
  line-height: 27px;
  background-color: #CCCCCC;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #666666;
  border-right: 0;
}

.notified_submit {
  width: 120px;
  height: 59px;
  font-family: 'Roboto';
  font-size: 23px;
  line-height: 27px;
  color: #F7F7F7;
  background: #CD6326;
  border: 1px solid #CD6326;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}

.notified_submit:hover{
  background: #E39128;
}
.notified_submit:active{
  background:  #8F5613;
}





.footer {
  background-color: #181617
}

.footer_wrapper {
  background-image: url('/img/footer-bg.jpg');
}


.footer_contant {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 150px;
}

.footer_nav {
  margin-left: 120px;
  margin-right: 120px;
}

.footer_list {
  display: flex;
}

.footer_item {
  margin-right: 85px;
}

.footer_item:last-child {
  margin-right: 0;
}


.footer_link {
  font-size: 23px;
  line-height: 60px;
  text-decoration: none;
}

.footer_link:hover,
.footer_link:focus,
.footer_link:active {
  text-decoration: underline;
}

.footer-icon_list {
  display: flex;
}

.footer-icon_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 27px;
  background: #F7F7F7;
  border-radius: 20px;
  cursor: pointer;
}

.footer-icon_item:hover{
  background: #E39128;
}
.footer-icon_item:active {
  background: #8F5613;
}
